.mobileMenuClick{
  color:#ffffff;
  position:relative;
  transition: color .5s ease;
  cursor:pointer;
  text-transform: uppercase;
  outline:0
}
.mobileMenuContainer a{
  color:#ffffff;
  font-size:1rem;
  display:block;
  padding:5px;
}
.mobileMenuContainer{
  height:auto;
  max-height:0px;
  overflow:hidden;
  transition: max-height 1s ease;
  margin-bottom:15px;
}

.mobileMenuClick .plus{
  width: 20px;
height: 20px;
position: absolute;
right: 0px;
top: 50%;
transform: translateY(-50%);
}

.mobileMenuClick .plus .horizontal{
  width: 20px;
  position: absolute;
  height: 2px;
  background: #ffffff;
  top: 50%;
  transform: translateY(-50%);
}

.mobileMenuClick .plus .vertical{
  width: 2px;
  position: absolute;
  height: 20px;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  transition: transform .5s ease;
  transform-origin: 0% 50%;

}
.mobileMenuClick.active .plus .vertical{
  transform: rotate(90deg) translateX(-50%);
}

.mobileMenuClick.active{
color:#8fc744;
}

.mobileMenuContainer.active{
  max-height:1000px;
}
